:root {
    /* Color variables */
    --soft-red: #ff5630;
    --soft-blue: deepskyblue;
    --soft-green: #35b746;
    --soft-gold: #edc410;


    /* 
     * These values may get changed in the document that imports this css code. The "soft-*color*" values should remain, however. 
     * 
     * The primary color is what color basic text and the header's items appear as.
     */
    --primary-color: var(--soft-blue);
    --secondary-color: var(--soft-red);
}

body {
    margin: 0;

    /* Size of the header */
    margin-top: 80px;
}

.header {
    /* Relative/Fixed: Fixed makes the header stay in the same location on the screen regardless of scrolling. */
    position: fixed;
    top: 0px;
    height: 80px;
    background: linear-gradient(to bottom, #434343, #575757 50%, #434343 75%, #323232 84%, #212121 98%, #111);
    color: var(--primary-color);
    display: table;
    box-shadow: 0 0 4px black;
}

.header.dark {
    background: linear-gradient(to bottom, #353535, #484848 50%, #353535 75%, #2A2A2A 84%, #111 98%, black);
}

.background {
    background: linear-gradient(to bottom, #434343, #575757 20%, #575757 80%, #434343);
}

.header span {
    transition: text-shadow .3s ease, box-shadow .3s ease;
    background-color: transparent;
    cursor: pointer;
    display: table-cell;
    font-family: 'Acme', monospace, cursive;
    font-size: 4vh;
    font-weight: 400;
    letter-spacing: .03em;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    text-align: center;
    word-spacing: .11em;
}

.header span:hover {
    box-shadow: 0 0 5px 5px #151515;
    text-shadow: 0 0 15px var(--primary-color);
}

/* Forgot that media type was required when using not or only */

@media not screen and (pointer: fine) {

    .header span:hover {
        text-shadow: 0 0 15px var(--secondary-color);
    }

    .header {
        color: var(--secondary-color);
    }

    .header span {
        /* Makes text look like it's a cutout piece of paper above the stuff it's on top of. This can be seen easiest when zooming in very close on iPhone. */
        text-shadow: 0 0 1px black;
    }

}

.spacing {
    background-color: transparent;
}

.full-width {
    width: 100%;
}

.content-root {
    margin: 5%;
    margin-top: 10vh;
    min-height: 78vh;
    padding-left: 10px;
    padding-right: 10px;

    border: 2px solid black;

    color: var(--primary-color);
    font-size: 18;
    font-family: monospace, sans-serif;
    font-weight: 600;
}

.content-root h1,
.content-root h2,
.content-root h3 {
    padding-top: 20px;
    color: var(--secondary-color);
}

.content-root h1,
.content-root h2,
.content-root h3,
.centered {
    text-align: center;
}

span.centered, .content-root.centered span, .content-root.centered div {
    /* Will force span to be full width. */
    width: 100%;
    display: inline-block;
}

.anchor {
    transition: color 0.3s ease, text-shadow 0.3s ease;
    display: inline-block;
    font-family: monospace;
    font-size: 0.6em;
    font-weight: 600;
    color: #43434340;
    margin-left: 0.15em;
    transform: translateY(-0.2em);
    /* Remove Underline */
    text-decoration: none;
}

.anchor:hover {
    color: #2b2b2b;
    text-shadow: 0 0 10px #2a2a2a;
    cursor: pointer;
}

footer {
    position: fixed;
    min-height: 8vh;
    bottom: 0;
    width: 100%;

    border-top: 2px solid black;
    color: white;
    font-family: monospace;
    font-size: 20px;
    text-align: center;

    background-color: gray;
}

#FooterTitle {
    float: left;
    font-size: 24px;
    padding-right: 5px;
    margin-right: 15px;
    margin-bottom: 0;
    border: 0 solid black;
    border-width: 0 2px 2px 0;
}

/* Targets iPhones 6, 7, and 8 Plus (and *only* those screen sizes, if comments are applied). */

/* and (min-device-width: 414px) and (min-device-height: 736px) */

@media (max-device-width: 414px) and (max-device-height: 736px) {
    .content-root {
        min-height: 68vh;
    }
}

@media (orientation: landscape) and (max-device-width: 414px) and (max-device-height: 736px) {
    .header span {
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        font-size: 3em;
    }
}

#CopyrightNotice {
    position: absolute;
    font-family: sans-serif;
    font-size: .5em;
    color: white;
    text-decoration: none;
    right: 0;
    bottom: 0;
}
