body {
    margin: 0;

    /* Size of the header */
    margin-top: 80px;
    height: 3000;
}

.header {
    /* Relative/Fixed: Fixed makes the header stay in the same location on the screen regardless of scrolling. */
    position: fixed;
    top: 0px;
    background: linear-gradient(to bottom, #434343, #575757 50%, #434343 75%, #323232 84%, #212121 98%, #111);
}

.header.dark {
    background: linear-gradient(to bottom, #353535, #484848 50%, #353535 75%, #2A2A2A 84%, #111 98%, black);
}

.background {
    background: linear-gradient(to bottom, #434343, #575757 20%, #575757 80%, #434343);
}

.spacing {
    background-color: transparent;
}

.full-width {
    width: 100%;
}
