body {
	/* Background */
	background-image: linear-gradient(#000A, #000A), url("background.png"), linear-gradient(#2B2B2B, #2B2B2B);
	background-attachment: fixed;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	
	/* Body Styles */
	overflow-x: hidden;
	margin: 0;
}