section#Introduction {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#Introduction > div#TitleDiv {
	padding-top: 35px;
}


section#Introduction > div > h1#Title {
	letter-spacing: 2px;
	font-size: 3.2em;
}

section#Introduction > div#DownloadButton {
	padding-top: 75px;
}

section#Introduction > div#DownloadButton > a {
	padding: 15px 50px 20px 50px;
	font-size: 1.3em;
}

#FreeWord {
	text-shadow: 0px 0px 5px var(--passive-color);
	animation: FREE-ANIMATION 1.2s linear 1s infinite alternate;
}

@keyframes FREE-ANIMATION {
	0% { text-shadow: 0px 0px 5px var(--passive-color); }
	100% { text-shadow: 0px 0px 0px var(--passive-color); }
}