:root {
	--theme-primary-color: black;
	--background-color: #0009;
	--foreground-color: white;
	--theme-border-width: 3px;
	--theme-border-style: solid;
	--theme-border-color: var(--foreground-color);
	--theme-border: var(--theme-border-width) var(--theme-border-style) var(--theme-border-color);
}

html, body, #Background {
	height: 100%;
}

body {
	background-color: #2B2B2B;
	margin: 0;
}

#Background {
	background-image: linear-gradient(#0005, #0005), url("background.png");
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	filter: blur(2px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

#Wrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

#Header {
	width: 100%;
	top: 0;
	left: 0;
	
	padding-top: 1.4em;
	padding-bottom: 1.4em;
	
	display: table;
	table-layout: fixed;
	
	background-color: var(--background-color);
	border-width: 0px 0px var(--theme-border-width) 0px;
	border-style: var(--theme-border-style);
	border-color: var(--theme-border-color)
	
}

#Header > span {
	display: table-cell;
	text-align: center;
	font-size: 2.4rem;
	color: var(--foreground-color);
}

#Content {
	text-align: center;
	position: relative;
	left: 25%;
	width: 50%;
	margin-top: 25vh;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	border: var(--theme-border);
	background-color: var(--background-color);
}